* {
    box-sizing: border-box;
}

body {
    background: url("../images/ucl.jpg")repeat top center;
}

h1 {
    text-align: center;
    color: #fff;
    font-family: 'Barrio', cursive;
    padding: 10px;
    font-size: 75px;
}

#gifsAppear {
    text-align: center;
}

p {
    font-size: 15px;
    color: #FFF;
    border-color: #ddd;
}

hr {
	font-size: 10px;
}

img {
    margin: auto;
    float: top;
}

img:hover {
    opacity: 1;
    position: relative;
    top: -10px;
    background-color: #ccc;
    touch-action: manipulation;
    cursor: pointer;
}

.btn-primary {
    background-color: #fff;
    color: #777;
    border-radius: 10px;
    margin: 2px;
    border-color: #2e6da4;
}

.btn-primary:hover{
    color: #ccc;
    opacity: 1;
    position: relative;
    top: -5px;
}


span {
    position: absolute;
    font-size: 15px;
    color: #fff;
    text-align: center;
    right: 0;
    left: 0;
}
